@charset "UTF-8";

html,
body {
  height: 100%;
}

.pay_right {
  float: right;
}
.pay_left {
  float: left;
}

.che_container {
  width: 100%;
  height: 100%;
  min-width: 18.75rem;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#ffffff, #ea5504);
}

.che_LOGO {
  padding-top: 4.7rem;
  text-align: center;
}
.che_LOGO img {
  width: 3.95rem;
}
/* 登录页面 */

.mui-slider {
  width: 15.25rem;
  height: 12.25rem;
  margin: 0 auto;
  margin-top: 3.15rem;
  background-color: #fff;
  border-radius: .5rem;
}
.loginHead {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  padding: 0 1.25rem;
}
.loginHead a {
  font-size: .85rem;
  width: 3.4rem;
  height: 2.05rem;
  text-align: center;
  line-height: 2.5rem;
  text-decoration: none;
  color: #000;
}

/* 点击换颜色 */
.loginHead .border_login {
  border-bottom: .05rem solid #ea5504;
  color: #ea5504;
}
/* 密码输入框 */

.loginMain {
  padding-top: 2.75rem;
}
input[type="text"],
input[type="password"] {
  width: 89%;
  border-bottom: 1px solid #ccc;
  padding: 0;
  font-size: .65rem;
  padding-left: .25rem;
  height: 1rem;
}
.iconfont {
  font-size: .7rem;
  padding-right: .25rem;
}
.loginUser {
  padding: 0 1.4rem;
  height: 2.25rem;
  line-height: 3.5rem;
}
.mui-input-group::after,
.mui-input-group::before {
  background-color: #fff;
}
.goLogin{
  height: 1.2rem;
  margin-bottom: 1rem;
}
.goLogin span {
  padding: 0 1.4rem;
  padding-top: .6rem;
  color: #ccc;
  font-size: .65rem;
  height: 1.3rem;
}
.goLogin .che_color{
    color: #ea5504
}

.message_pay a{
    display: block;
    text-align: center;
    border-radius: .25rem;
    line-height: 1.9rem;
    background-color: #ea5504;
    margin: 0 1.4rem .8rem 1.4rem ;
}
.footer_fonts{
    font-size: .65rem;
    color: #fff;
    letter-spacing: .05rem;
    
}

.mui-toast-container{

}
.mui-toast-message{
  padding-left: 5px;
  padding-right: 0;
}