.mui-icon {
  font-size: .8rem;
}
.che_content_title {
  color: #a7a7a7;
  background-color: #f5f5f5;
  padding: 0 1rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
.che_container {
  padding-bottom: 3rem;
}
.che_container .che_main .brainpower #segmented .reser_frist {
  padding: .4rem 0;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.che_container .che_main .brainpower #segmented .reser_frist > a {
  margin-left: .75rem;
  width: 3.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  border: 1px solid #dcdcdc;
  font-size: .75rem;
  text-align: center;
}
.che_container .che_main .brainpower #segmented .reser_frist > a .frist_num {
  display: none;
}
.che_container .che_main .brainpower #segmented .reser_frist .frist_bord {
  border: 1px solid #ea5504;
  background: url("../../img/index/gougou.png") right bottom no-repeat;
  background-size: 22%;
  position: relative;
}
.che_container .che_main .brainpower #segmented .reser_frist .frist_bord > .frist_num {
  display: inline-block;
  display: none;
  width: .7rem;
  height: .7rem;
  line-height: .7rem;
  position: absolute;
  background-color: #ea5504;
  border-radius: 50%;
  top: -0.35rem;
  right: -0.35rem;
  font-size: .35rem;
  color: #fff;
}
.che_container .che_main .brainpower .reser_secend {
  padding: .5rem 0;
  background-color: #fff;
  font-size: .7rem;
  flex-wrap: wrap;
}
.che_container .che_main .brainpower .reser_secend .reser_all {
  width: 33.333%;
  height: 1.6rem;
  align-items: center;
  padding-left: 1.2rem;
}
.che_container .che_main .brainpower .reser_secend .reser_all .reser_yuan {
  width: .9rem;
  height: .9rem;
  line-height: 1rem;
  text-align: center;
  font-size: .65rem;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  color: #fff;
  margin-right: .2rem;
}
.che_container .che_main .brainpower .reser_secend .reser_all .icon-duihao {
  background-color: #ea5504;
  border: none;
}
.che_container .che_main .brainpower .reser_area {
  margin-top: .5rem;
  position: relative;
}
.che_container .che_main .brainpower .reser_area #reser_text {
  height: 12rem;
  padding: .75rem;
  font-size: .7rem;
  border: none;
  text-indent: .25rem;
}
.che_container .che_main .brainpower .reser_area .reser_describe {
  position: absolute;
  top: .7rem;
  left: .75rem;
  font-size: .7rem;
  border: none;
  text-indent: .25rem;
  color: #a7a7a7;
}
.che_container .che_main .brainpower .reser_area .reser_describe .reser_wenti {
  color: #ea5504;
}
.che_container .server_footer {
  padding: .5rem;
}
.che_container .server_footer .che_footer {
  height: 2rem;
  position: static;
  border-radius: .3rem;
}
.che_container .server_footer .che_footer .message_div {
  line-height: 2rem;
}
