.che_main .carsphoto {
  height: 22.15rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.che_main .carsphoto img {
  width: 5rem;
}
.che_main .startMon {
  width: 5.1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .65rem;
  color: #ea5504;
  text-align: center;
  background-color: #fff;
  margin: auto;
  border-radius: .125rem;
  box-shadow: 0.025rem 0.025rem 1rem -0.05rem #ccc;
}
.che_main .scroll {
  transition: all .5s;
  width: 7.1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .65rem;
  color: #ea5504;
  text-align: center;
  background-color: #fff;
  margin: auto;
  border-radius: .125rem;
  overflow: hidden;
}
.che_main .scroll > .keys {
  animation: myfirst 5s infinite 2 alternate;
  -webkit-animation: myfirst 5s;
}
@keyframes myfirst {
  0% {
    transform: translateY(-1.5rem);
  }
  10% {
    transform: translateY(-3rem);
  }
  20% {
    transform: translateY(-4.5rem);
  }
  30% {
    transform: translateY(-6rem);
  }
  40% {
    transform: translateY(-7.5rem);
  }
  50% {
    transform: translateY(-9rem);
  }
  60% {
    transform: translateY(-10.5rem);
  }
  70% {
    transform: translateY(-12rem);
  }
  80% {
    transform: translateY(-13.5rem);
  }
  90% {
    transform: translateY(-15rem);
  }
  100% {
    transform: translateY(-16.5rem);
  }
}
.che_main .sonsphoto {
  height: 13.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.che_main .sonsphoto img {
  width: 5rem;
}
.che_main .startMoning {
  background-color: #fff;
  font-size: .65rem;
  height: 100%;
}
.che_main .startMoning .enloy {
  height: 2rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2.5rem;
  border-bottom: .025rem solid #e7e7e7;
}
.che_main .startMoning .enloy .iconfont {
  font-size: .7rem;
}
.che_main .startMoning .errorcar {
  color: #ea5504;
}
.che_main .startMoning .errorcar .iconfont {
  font-size: .95rem;
}
.che_main .startMoning .overMon {
  padding-top: 4.15rem;
  text-align: center;
}
